<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
                      https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">

    <display-name>PISLlab1</display-name>

    <servlet>
        <servlet-name>FServlet</servlet-name>
        <servlet-class>com.servlet.FServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>FServlet</servlet-name>
        <url-pattern>/firstServlet</url-pattern>
    </servlet-mapping>


</web-app>
